<% content_for :add_service_heading do  %>
  <h2 class="card-title text-center ">Add New Service</h2>
<% end %>

<%= render "form", service: @service %>

<br>

<div class="lg-6 mt-5 mx-lg-auto text-center ">
  <%= link_to "Back to Services", hotel_services_path %>
</div>
