<h1>Good Morning!</h1>
<p>Dear <%= @user.email %></p>
<p>We hope you have a wonderful morning filled with joy and positivity. Remember to start your day with a smile and embrace the opportunities that come your way.</p>
<p>Wishing you a productive and fulfilling day ahead!</p>