<main id="main">
  <section id="about" class="about m-4">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>About Us</h2>
        <p>At VoyageVista, we believe that every journey should be an extraordinary experience. Founded on the principles of 
          exploration and exceptional hospitality, we are your dedicated partner in discovering the perfect stay for your travels.</p>
      </div>
      <div class="row content">
        <div class="col-lg-6">
          <p>
            VoyageVista was born out of a passion for travel and a commitment to redefine the way you experience the world. We 
            understand that the right accommodation is the cornerstone of any memorable journey. With a team of avid travelers, 
            hospitality experts, and technology enthusiasts, we set out to create a platform that seamlessly connects you with the 
            finest hotels, ensuring a voyage that exceeds your expectations.
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i> VoyageVista meticulously curates a collection of hotels, each chosen for its unique charm, outstanding service, and exceptional amenities.</li>
            <li><i class="ri-check-double-line"></i> We believe in the power of personalization. Tailor your stay to your preferences, whether you seek luxury, tranquility, or vibrant city life.</li>
            <li><i class="ri-check-double-line"></i> With VoyageVista, transparency is our promise. Clear, honest information empowers you to make informed decisions, ensuring a stress-free booking process.</li>
          </ul>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            At VoyageVista, our mission is to be your trusted companion in crafting unforgettable travel experiences. We strive to 
            inspire and facilitate seamless journeys, connecting you with remarkable accommodations that become an integral part 
            of your travel story.
          </p>
          <p>
            Embark on a journey with VoyageVista - where every stay is a chapter in your exploration of the world. Let us redefine 
            the way you travel, one remarkable experience at a time.
          </p>
          
          <a href="#" class="btn-learn-more">Learn More</a>
        </div>
      </div>
    </div>
  </section>  
</main>