<section id="hero" class="d-flex justify-cntent-center align-items-center">
  <div id="heroCarousel" data-bs-interval="5000" class="container carousel  carousel slide" data-bs-ride="carousel">
    <div class="carousel-item active" data-bs-interval="10000">
      <div class="carousel-container">
        <h2 class="animate__animated animate__fadeInDown text-warning ">"WELCOME TO VOYAGEVISTA – YOUR JOURNEY, YOUR VISTA."</h2>
        <p class="animate__animated animate__fadeInUp">Welcome To VoyageVista - where your journey becomes a personalized vista. Discover unparalleled travel experiences tailored to your desires. With handpicked accommodations and a commitment to transparency, we invite you to redefine your travel story. Your adventure, your way – start your VoyageVista journey today.</p>
        <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="10000">
      <div class="carousel-container">
        <h2 class="animate__animated animate__fadeInDown text-warning ">"Discover Your Vista: Unforgettable Stays Await with VoyageVista"</h2>
        <p class="animate__animated animate__fadeInUp">Immerse yourself in a world of unparalleled luxury and exploration with 
          VoyageVista. Our carefully curated selection of hotels promises unforgettable stays, each one a unique vista waiting to 
          be discovered. Embark on a journey where every accommodation is a destination in itself, offering comfort, opulence, and 
          cultural richness. Your perfect stay is just a click away.</p>
        <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <div class="carousel-container">
        <h2 class="animate__animated animate__fadeInDown text-warning">"VoyageVista Escapes: Your Journey Begins with Handpicked Excellence"</h2>
        <p class="animate__animated animate__fadeInUp">Embark on a journey of handpicked excellence with VoyageVista Escapes. Our 
          collection of carefully selected hotels invites you to experience the epitome of luxury, comfort, and cultural immersion.
           Whether you crave the tranquility of a beachfront retreat, the grandeur of a city skyscraper, or the charm of a boutique 
           hideaway, VoyageVista ensures that your journey begins with nothing but the best. Elevate your travel experience with 
           our exceptional escapes.</p>
        <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
       </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-container">
        <h2 class="animate__animated animate__fadeInDown text-warning ">"VoyageVista: Where Every Stay Is an Adventure Awaits"</h2>
        <p class="animate__animated animate__fadeInUp">Explore a world of adventure with VoyageVista, where every stay is a unique 
          adventure waiting to unfold. Immerse yourself in our handpicked selection of hotels, carefully chosen to offer not just 
          accommodation but a journey of its own. From the serene tranquility of beachfront escapes to the vibrant charm of 
          boutique hideaways, your next adventure begins here. Join us in creating unforgettable memories with VoyageVista.</p>
        <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
      </div>
    </div>    
    <button class="carousel-control-prev" type="button" data-bs-target="#heroCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#heroCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>