<h1>Your Booking details</h1>
<pre>
  Hey <%= @booking.user.name %>, 

    We hope this message finds you well. We would like to inform you that your 
    booking BOOKING00<%= @booking.id  %> was  cancled successfully.
</pre>

<p>Thank you for choosing Us.</p>