<%= content_for :add_room_type_heading do %>
  <h2 class="card-title text-center ">Edit Room</h2>
<% end %>

<%= render "form", room: @room %>

<br>

<div class="lg-6 mt-5 mx-lg-auto text-center ">
  <%= link_to "Show this room", hotel_room_path(@hotel, @room) %> |
  <%= link_to "Back to rooms", hotel_rooms_path %>
</div>
