<% content_for :add_hotel_heading do  %>
  <h2 class="card-title text-center ">Add New Hotel</h2>
<% end %>

<%= render "form", hotel: @hotel %>

<br>

<div>
  <%= link_to "Show this hotel", @hotel %> |
  <%= link_to "Back to hotels", hotels_path %>
</div>
